@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
.card {
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 9px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px;
  rotate: 4deg;
  transform: scale (70%);
  align-items: center;
}
.top-suit {
  top: 20px;
  left: 20px;
  background-color: white;
}
.bottom-suit {
  bottom: 20px;
  right: 20px;
  background-color: white;
}
.top-suit,
.bottom-suit {
  font-size: 80px;
  position: absolute;
}
.number {
  font-size: 100px;
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-align: center;
}
